@import "../../utils/responsive-breakpoint.scss";
@import "../../utils/mixin.scss";
.cart-item {
	.wrapper {
		border: 1px solid black;
		h3 {
			width: fit-content;
			padding: 2rem 0;
			margin: auto;
		}
	}
	.update-and-clear {
		margin-top: 1rem;
		display: flex;
		button {
			font-size: 18px;
			color: red;
			padding: 0.5rem 1rem;
			border: none;
			background-color: yellowgreen;
			margin-left: 0.5rem;
			cursor: pointer;
		}
	}
}
