.category {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.left-bar {
	width: 26%;
}
.left-bar h3 {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 60px;
	color: #242628;
	font-weight: bold;
	font-family: "Poppins";
}
.left-bar .product-category-list {
	margin-left: 1rem;
	padding-bottom: 1.5rem;
}
.left-bar .product-category-list ul {
	list-style: square;
}
.left-bar .product-category-list ul li {
	font-size: 14px;
	letter-spacing: 0px;
	margin: 20px 0;
	line-height: unset;
	color: #232323;
	cursor: pointer;
	font-family: "Roboto";
}
.left-bar .product-category-list ul li:hover{
	color: #3cb878;
}
.category-price-filter {
	border-top: 1px solid gainsboro;
}
.price-range {
	display: flex;
}
.price-range input {
	font-size: 14px;
	font-family: "Roboto";
	width: 44%;
	height: 30px;
	border: 1px solid #eeeeee;
	text-align: center;
}
.price-search-btn {
	width: 20%;
	height: 30px;
	background: #00b97c;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
}
.size-filter {
	border-top: 1px solid gainsboro;
	margin-top: 1.5rem;
}
.size-filter .size-item {
	display: flex;
	flex-wrap: wrap;
}
.size-filter .size-item p {
	border: 1px solid #eeeeee;
	width: 45px;
	height: 30px;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 60px;
	color: #777777;
	font-family: "Roboto";
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
	transition: all 0.5s;
}
.size-filter .size-item p:hover {
	background-color: #3cb878;
	color: white;
}
.color-filter {
	border-top: 1px solid gainsboro;
	margin-top: 1.5rem;
}
.color-filter div {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}
.chooseColor {
	margin-right: 0.5rem;
	width: 10px;
	height: 10px;
	border: 1px solid #a1a1a1;
}
.category-top-rated {
	border-top: 1px solid gainsboro;
	margin-top: 2rem;
}
.top-rated-product {
	cursor: pointer;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.top-rated-product__img {
	height: inherit;
}
.top-rated-product__name-and-price {
	width: 65%;
	display: flex;
	height: 100px;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 0.5rem;
}
.top-rated-product__name-and-price .top-rated-product-price {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #3cb878;
	font-family: "Droid Serif";
}
.top-rated-product-name {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #232323;
	font-weight: 500;
	font-family: "Poppins";
}
.offer-banner {
	border-top: 1px solid gainsboro;
	margin-top: 1.5rem;
}
.banner-image {
	margin-top: 2rem;
}
.category-product {
	width: 72%;
}
.category-product-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gainsboro;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 14px;
	color: #777777;
	font-family: "Roboto";
}
.sort {
	width: 50%;
	border: none;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 14px;
	color: #777777;
	font-family: "Roboto";
	outline: none;
}
.filter-products {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/* resposive  */
@media screen and (max-width: 500px) {
	.left-bar {
		width: 35%;
	}
	.offer-banner {
		display: none;
	}
	.category-top-rated {
		display: none;
	}
	.category-product {
		width: 65%;
	}
}
