.cart {
	width: 1200px;
	margin: 1rem auto;
}
.page__index {
	margin-bottom: 1rem;
}
.list__table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.list__table tr th {
	padding: 0.5rem;
}
.tdStyle{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.list__table tr th,
tr td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.list__table tr td {
	padding: 1rem;
}
.list__table tr td p {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #232323;
	font-weight: 500;
	font-family: "Poppins";
}
.prod__image {
	width: 100px;
	
}
.prod__image img {
	width: 100%;
}
.clAndsz {
	text-align: left;
	width: 100%;
}
.quantity__box input {
	width: 50px;
	text-align: center;
	height: 35px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #d4d4d4;
}

.totalPrcie {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.last_child {
	text-align: right;
}
.updateBtn {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #232323;
	font-family: "Poppins";
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding: 0.5rem;
	cursor: pointer;
	margin-right: 0.5rem;
}
.continueBtn {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #ffffff;
	background-color: #00b97c;
	font-family: "Poppins";
	padding: 0.5rem;
	cursor: pointer;
	border: none;
}
.couponAndVoucher {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}
.couponAndVoucher h3 {
	margin: 2rem 0 1rem 0;
	font-size: 14px;
	letter-spacing: 1px;

	color: #242628;
	font-weight: bold;
	font-family: "Poppins";
	text-transform: uppercase;
}
.couponAndVoucher input,
select {
	height: 36px;
	width: 100%;
	margin: 0.5rem 0 1rem 0;
	padding-left: 1rem;
}
.couponAndVoucher label {
	font-size: 14px;
	line-height: 20px;
	color: #777777;
	font-family: "Roboto";
}
.border {
	border-right: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	outline: none;
}
.coupon {
	width: 47%;
}
.inp {
	display: flex;
	align-items: center;
}
.couponInput {
	width: 100%;
}
.uptTotal {
	background-color: white;
}

/* for voucher  */
.voucher {
	width: 47%;
}
.calcBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.calcBox {
	border: 1px solid black;
}
.calcBox .calwrap {
	padding: 1rem;
}
.calwrap div {
	display: flex;
	justify-content: space-between;
	padding: 0.7rem;
}
.foot {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 1.7rem;
}
.proccess {
	margin-top: 1rem;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.proccess button {
	padding: 1rem;
}
button {
	text-transform: uppercase;
}

/* responsive part  */
@media screen and (max-width:1200px) {
	.cart{
		width: unset;
	}
	.proccess button {
		padding: .5rem;
	}
}
@media screen and (max-width:600px) {
	.list__table {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}
	.list__table tr th {
		padding: unset;
	}
	.tdStyle{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.list__table tr th,
	tr td {
		border: none
	}
	.list__table tr td {
		padding: unset;
	}
	.list__table tr td p {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		color: #232323;
		font-weight: 500;
		font-family: "Poppins";
	}
}