.cart {
	font-family: "Poppins";
	width: 1200px;
	margin: 1rem auto;
}
.page__index {
	margin-bottom: 1rem;
}

.cart-list {
	width: 100%;
}
.row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	position: relative;
	border-collapse: collapse;
}
.col {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	text-align: center;
}
.col img {
	width: 80px;
	margin-bottom: 1rem;
}
.cartDeleteBtn {
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	cursor: pointer;
	background-color: white;
}
.quantity {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.quantity button {
	border: 1px solid black;
	color: black;
	width: 35px;
	height: 30px;
	font-size: 20px;
	background-color: unset;
}
.quantity span {
	width: 35px;
	height: 30px;
	line-height: 35px;
	text-align: center;
}
.btn-col {
	padding: 0.5rem;
	align-items: flex-end;
	justify-content: flex-end;
}
.updateBtn {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #232323;
	font-family: "Poppins";
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding: 0.5rem;
	cursor: pointer;
	margin-right: 0.5rem;
}
.continueBtn {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #ffffff;
	background-color: #00b97c;
	font-family: "Poppins";
	padding: 0.5rem;
	cursor: pointer;
	border: none;
}
.couponAndVoucher {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}
.couponAndVoucher h3 {
	margin: 2rem 0 1rem 0;
	font-size: 14px;
	letter-spacing: 1px;

	color: #242628;
	font-weight: bold;
	font-family: "Poppins";
	text-transform: uppercase;
}
.couponAndVoucher input,
select {
	height: 36px;
	width: 100%;
	margin: 0.5rem 0 1rem 0;
	padding-left: 1rem;
}
.couponAndVoucher label {
	font-size: 14px;
	line-height: 20px;
	color: #777777;
	font-family: "Roboto";
}
.border {
	border-right: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	outline: none;
}
.coupon {
	width: 47%;
}
.inp {
	display: flex;
	align-items: center;
}
.couponInput {
	width: 100%;
}
.uptTotal {
	background-color: white;
}

/* for voucher  */
.voucher {
	width: 47%;
}
.calcBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.calcBox {
	border: 1px solid black;
}
.calcBox .calwrap {
	padding: 1rem;
}
.calwrap div {
	display: flex;
	justify-content: space-between;
	padding: 0.7rem;
}
.foot {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 1.7rem;
}
.proccess {
	margin-top: 1rem;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.proccess button {
	padding: 1rem;
}
button {
	text-transform: uppercase;
}

/* responsive part  */
@media screen and (max-width: 1200px) {
	.cart {
		width: unset;
	}
	.proccess button {
		padding: 0.5rem;
	}
}
@media screen and (max-width: 600px) {
	.list__table {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}
	.list__table tr th {
		padding: unset;
	}
	.tdStyle {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.list__table tr th,
	tr td {
		border: none;
	}
	.list__table tr td {
		padding: unset;
	}
	.list__table tr td p {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		color: #232323;
		font-weight: 500;
		font-family: "Poppins";
	}
	.couponAndVoucher {
		flex-direction: column;
	}
	.voucher {
		width: unset;
	}
	.coupon {
		width: unset;
	}
	.btn-col {
		font-size: 12px;
	}
	.updateBtn {
		font-size: 13px;
	}
	.continueBtn {
		line-height: 22px;
	}
}
