.navbar {
	filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
	background-color: #ffffff;
}
.innerNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 14px;
	font-family: "Poppins";
}
.logo .color {
	color: #00b97c;
}
.links {
	display: flex;
	align-items: center;
}
.links p {
	margin: 0 1rem;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 14px;
	transition: 1s;
	font-weight: 500;
	font-family: "Poppins";
	text-align: center;
	text-transform: uppercase;
}
.links p a {
	display: block;
}
.searchAndOther {
	display: flex;
	align-items: center;
	justify-content: center;
}
.carts {
	margin: 0 0.5rem;
	width: 100%;
	display: flex;
	font-size: 22px;
}
.cart-quantity {
	font-size: 16px;
	transform: translate(-6px, -10px);
	width: 20px;
	height: 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #00b97c;
	font-family: "Poppins";
	cursor: pointer;
}
.search {
	cursor: pointer;
}
.menuBar {
	margin-left: 0.5rem;
	display: none;
	cursor: pointer;
}
.search-input-field {
	position: absolute;
	top: 55px;
	overflow: hidden;
	right: 92px;
	width: 200px;
	display: flex;
	transition:all .5s;
}
.search-input-field input {
	width: 70%;
	height: 25px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #29af2e85;
	outline: none;
	padding-left: 10px;
}
.search-input-field button {
	border: none;
	background-color: #00b97c;
	color: white;
	border-radius: 0px 5px 5px 0;
	width: 30%;
	font-size: 12px;
	cursor: pointer;
	height: 25px;
	padding: 5px;
}
.toggleMenu {
	background-color: #193359;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
	color: #fff;
	right: 0px;
	transition: height 0.5s;
	position: absolute;
	overflow: hidden;
	display: none;
	width: 100vw;
	top: 86px;
}
.menuItem {
	width: 100%;
	padding: 1rem;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 1s;
}
.menuItem:hover {
	background-color: #f2f2f2;
	color: #000;
	cursor: pointer;
}

.hide {
	height: 0px !important;
}
/* responsive  */
@media screen and (max-width: 1050px) {
	.link_container {
		display: none;
	}
	.toggleMenu {
		display: flex;
	}
	.menuBar {
		display: flex;
	}
	.search {
		margin-right: 0.5rem;
	}
	.links p {
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	.toggleMenu {
		right: 0px;
		top: 54px;
	}
	.search-input-field {
		top: -20px;
	}
}
@media screen and (max-width: 500px) {
	.toggleMenu {
		right: 0px;
	}
	.navbar {
		padding: 1rem !important;
	}
	.search-input-field {
		right: 50px;
	}
}
