@import "../../../utils/responsive-breakpoint.scss";
.nav-bottom {
	position: relative;

	.toggleMenu {
		@include large-down {
			display: flex;
		}
		display: none;
		flex-direction: column;
		text-transform: uppercase;
		filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
		color: #fff;
		position: absolute;
		right: 0rem;
		top: 0px;
		overflow: hidden;
		transition: width 0.3s;
		width: 200px;
		.menu-item {
			background-color: #193359;
			width: 100%;
			padding: 1rem;
			text-align: center;
			border: 1px solid rgba(0, 0, 0, 0.1);
			transition: all 1s;
			&:hover {
				background-color: #f2f2f2;
				color: #000;
				cursor: pointer;
			}
		}
	}
}
