@import "../../Utils/responsive-breakpoint.scss";
@import "../../Utils/mixin.scss";
.top-product {
	color: white;
	padding: 3rem;
    @include large-down{
           padding-top: 3rem;
           padding-bottom: 1rem;
           padding-left: 1rem;
           padding-right: 1rem;
    }
    @include large-down{
           padding-top: 3rem;
           padding-bottom: .5rem;
           padding-left: .5rem;
           padding-right: .5rem;
    }
	@include heading-and-title;
	padding-top: 3rem;
	background-color: #333333;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.top-products-list {
        border-radius: 10px;
        flex-wrap: wrap;
		background: white;
        align-items: center;
        display: flex;
		margin-top: 2rem;
        @include medium-down{
            padding: 0rem;
     }
		padding: 2rem;
		@include wrapper;
	}
}