@import "../../../utils//mixin.scss";
@import "../../../utils/responsive-breakpoint.scss";
#shipping {
	@include modals;
	.wrapper {
		position: relative;
		max-width: 1200px;
		z-index: 1;
		margin: auto;
		padding: 2rem;
		@include small-down{
			padding:1rem;
		}
		background-color: #0d83e9;
		button {
			border: none;
			outline: none;
			background: none;
			color: #242628;
			cursor: pointer;
		}
		.cross {
			@include cross;
		}

		h1 {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 60px;
			color: #242628;
			font-weight: bold;
			font-family: "Poppins";
		}
		.btn {
			background-color: rgb(126, 145, 138);
			width: fit-content;
			padding: 0.5rem;
			border-radius: 3px;
			button {
				color: white;
				background: none;
			}
		}
		.shipping-data {
			.address {
				color: #f9f5f9;
                border-radius: 8px;
				position: relative;
				margin: 1rem 0;
				padding: 0.5rem;
				width: 100%;
				background-color:black;
				color: #f9f5f9;
				input {
					margin-right: 1rem;
				}
				.address-btn{
					display: flex;
    gap: 1rem;
    margin-top: .5rem;
				}
				button {
    background: #ded2d2;
    color: #0d0606;
    padding: 0.3rem;
    border-radius: 3px;
					
				}
				.btn-romove {
					right: 3rem !important;
				}
				label {
					font-size: 15px;
					line-height: 18px;
					font-style: italic;
					font-weight: 300;
					p{
						font-weight: 500;
					}
				}
			}
		}
		.billing-continue {
			background: #242628;
			padding: 0.5rem 1rem;
			margin: 0.5rem 0;
			color: white;
		}
	}
}
